<h1>cree un potin</h1>

<%= form_tag "/show", method: "post" do%>
    <input type="text" name="title">
    <input type="text" name="contener">
    <input type="submit" value="Crée le potin">
<% end %>