<h1>cree un potin</h1>

<div class="col-6">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div>
            <label for="title">titre du potin</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="content"></label>
            <textarea name="content" class="form-control"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Crée le potin">
    <% end %>
</div>
