<h1 class="text-center m-4 mb-5">voici la liste des villes</h1>
<div class="row col-10 m-auto">
    <% @city.each do |city| %>
        <div class="col-sm-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= city.name %></h5>
                    <p class="card-text"><%= city.zip_code %></p>
                    <a href="<%= city_path(city.id) %>" class="btn btn-primary">details</a>
                </div>
            </div>
        </div>
    <% end %>
    <%if session[:user_id]%>
    <a href="<%= new_city_path %>" class="btn btn-primary">Ajouter une nouvelle ville</a>
    <% else %>
    <h2>connectez vous pour ajouter une ville</h2>
    <% end %>
</div>