<h1>ajouter une ville</h1>

<div class="col-6">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div>
            <label for="title">nom de la ville</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="content">code postal de la ville</label>
            <input type="text" name="zip_code" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="ajouter la ville">
    <% end %>
</div>
